.connection
  .header
    = link_to "X", url(:destroy, :id => connection.id, :format => :js), :class => 'awesome remove', :method => :delete, :'data-confirm' => "Delete connection?", :remote => true
    %h4
      = connection.title
    / = link_to connection.title, url(:edit, :id => connection.id), :remote => true
  %ul{:class => 'connection_info'}
    %li
      %strong User
      = connection.username
    %li
      %strong Host
      = connection.host
    %li
      %strong Port
      = connection.port
    %li
      = link_to "Connect", url_for(:new, :format => :js), :remote => true, :class => 'connect'
      