- form_url = @connection.id ? url(:update, :id => @connection.id) : url(:create)
- meth = @connection.id ? :put : :post

%h1
  Connection Info
  
-form_for @connection, form_url, :method => meth, :id => :connection_form, :remote => true do |f|
  = f.error_messages
  %fieldset
    .left
      = f.label :title
      = f.text_field :title  
  %fieldset
    .left
      = f.label :username, :caption => "Username:"
      = f.text_field :username
    .right
      = f.label :password
      = f.password_field :password
  %fieldset
    .left
      = f.label :host
      = f.text_field :host
    .right
      = f.label :port
      = f.text_field :port
  %fieldset
    = link_to "Cancel", url_for(:index, :format => :js), :remote => true, :id => 'cancel', :class => 'awesome'
    = link_to "Save", "#", :id=>'submit', :class => 'awesome'