- form_url = @connection.id ? url(:update, :id => @connection.id) : url(:create)
- meth = @connection.id ? :put : :post

%h1
  Connection Info
  
-form_for @connection, form_url, :method => meth, :id => :connection_form, :remote => true do |f|
  = f.error_messages
  %p
    = f.label :title
    = f.text_field :title  
  %p
    = f.label :username, :caption => "Username"
    = f.text_field :username
  %p
    = f.label :password
    = f.password_field :password
  %p
    = f.label :host
    = f.text_field :host
  %p
    = f.label :port
    = f.text_field :port
  %p
    = link_to "Cancel", "#", :id => 'cancel', :class => 'awesome'
    = link_to "Save", "#", :id=>'submit', :class => 'awesome'