%h2 Edit Document

= link_to "Save Document", "/#", :class => 'awesome blue', :id => "save_document"
= link_to "Add Field", "/#", :class => 'awesome blue', :id => "add_field"

= link_to "Delete Document", url_for(:collection_doc_destroy, :mongo_id => @connection.id, :database_id => @database.name, :name => @collection.name, :doc_id => @document["_id"], :format => :js),:method => :delete, :'data-confirm' => "Delete document?", :remote => true, :class => 'awesome blue'

%table#documents_table
  %thead
    %tr
      %th.id Key
      %th.value Value

  %tbody
  - @document.each do |key, value|
    %tr
      %td
        %code{:class=> "key editable"}= key
      %td
        - if value.is_a? Hash
          = partial 'collection/document', :object => value
        - else
          %code{:class=> "#{determin_style_class_for(value)} editable value" }= pretty_print value