%h2 Edit Document

= link_to "Save Document", "/#", :class => 'awesome blue', :id => "save_document"
= link_to "Add Field", "/#", :class => 'awesome blue', :id => "add_field"

%table#documents_table
  %thead
    %tr
      %th.id Key
      %th.value Value

  %tbody
  - @document.each do |key, value|
    %tr
      %td
        %code{:class=> "key editable"}= key
      %td
        - if value.is_a? Hash
          = partial 'collection/document', :object => value
        - else
          %code{:class=> "#{determin_style_class_for(value)} editable value" }= pretty_print value