- content_for :page_nav do
  %h1 
    Server:
    = @connection.title
  %ul
    %li#server_info_link.active
      = link_to "Info", url_for(:mongo_index, :id => @connection.id, :format => :js), :remote => true
    %li
      = link_to "Add Database", url_for(:mongo, :new_db, :id => @connection.id, :format => :js), :remote => true

#left_nav
  %h4 Databases
  %ul.databases
    = partial 'mongo/database', :collection => @databases
    
  #black_toolbar
    = link_to "+", url_for(:mongo, :new_db, :id => @connection.id, :format => :js), :remote => true
    
#server_status
  = partial 'mongo/status'
  
  