- content_for :include do
  = javascript_include_tag 'jquery.dataTables.min', 'documentTables'
  
  
- content_for :page_nav do
  %h1 
    Collection:
    = @collection.name
  %ul
    %li#info.active
      = link_to "Documents", url_for(:database_index, :mongo_id => @connection.id, :name => @database.name, :format => :js), :remote => true
    %li
      = link_to "Rename", url_for(:database_repair, :mongo_id => @connection.id, :name => @database.name, :format => :js), :remote => true
    %li
      = link_to "Clone", url_for(:database_clone, :mongo_id => @connection.id, :name => @database.name, :format => :js), :remote => true
    %li#add_collection
      = link_to "Add Index", url_for(:database_new_collection, :mongo_id => @connection.id, :name => @database.name, :format => :js), :remote => true
    %li
      = link_to "Drop", url_for(:database_destroy, :mongo_id => @connection.id, :name => @database.name, :format => :js),:method => :delete, :'data-confirm' => "Delete database?"
    
#main
  %h3 Documents
  
  #search
    -form_tag url_for(:collection_query, :mongo_id => @connection.id, :database_id => @database.name, :name => @collection.name), :method => :post, :remote => true do
      %fieldset
        .left
          = text_field_tag :criteria, :id => 'criteria', :placeholder => "key => val"
        .right
          = submit_tag "search", :id => 'submit', :class => 'awesome blue'
    
  %table#documents_table
    %thead
      %tr
        %th ID
        %th Value
    - @docs.each do |doc|
      %tr
        %td.id= doc["_id"]
        %td.value= partial 'collection/document', :object => doc