- content_for :page_nav do
  %h1 
    Database:
    = @database.name
  %ul
    %li.active
      = link_to "Info", url_for(:mongo_index, :id => @connection.id, :format => :js), :remote => true
    %li
      = link_to "Repair", url_for(:database_repair, :mongo_id => @connection.id, :name => @database.name, :format => :js), :method => :post, :remote => true
    %li
      = link_to "Clone", url_for(:database_clone, :mongo_id => @connection.id, :name => @database.name, :format => :js), :remote => true
    %li
      = link_to "Drop", url_for(:database_destroy, :mongo_id => @connection.id, :name => @database.name, :format => :js),:method => :delete, :'data-confirm' => "Delete database?"

#left_nav
  %h4 Collections
  %ul.collections
    = partial 'database/collection', :collection => @database.collections
    
  #black_toolbar
    = link_to "+", url_for(:mongo, :new_db, :id => @connection.id, :format => :js), :remote => true
    
#db_main