!!! Strict
%html
  %head
    %title= [@title, "Pergola - a web frontend to mongoDB"].compact.join(" | ")
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'jquery', 'jquery-ui-1.8.2', 'application', 'rails'
    = yield_content :include
  %body
    %header
      .container
        %hgroup
          %h1 Pergola
          %h4 {"tagline": "web frontend to mongoDB"} 
          / = link_to "Pergola", url_for(:index)
        / #db_box
        /           Not Connected
        /           %select{:title => 'available servers'}
        /             %option{:disabled => 'true'} Select Server
        /             %option Dev1
        /             %option QA1
        /             %option Prod   
    #main
      .container
        = yield
      
    %footer
      .container
        %h1 Footer