!!! Strict
%html
  %head
    %title= [@title, "Pergola - a web frontend to mongoDB"].compact.join(" | ")
    = stylesheet_link_tag 'jquery-ui-1.8.2.custom', 'reset', 'layout-default', 'application'
    = javascript_include_tag 'jquery', 'jquery-ui-1.8.2', 'jquery.layout', 'application', 'rails'
    = yield_content :include
  %body
    .ui-layout-north
      North
      
    .ui-layout-south
      South
      
    #connections_panel.ui-layout-west
      Connections
      - link_to url_for(:new, :format => :js), :remote => true, :id => "add_connection", :class => "ui-state-default ui-corner-all" do
        add connection
        
      #connections= partial 'connections/connection', :collection => @connections
      
      #add_connection_dialog{:title => "add connection"}
      
    .ui-layout-center
      #main= yield