!!! Strict
%html
  %head
    %title= [@title, "Pergola - a web frontend to mongoDB"].compact.join(" | ")
    = stylesheet_link_tag 'jquery-ui-1.8.2.custom', 'application'
    = javascript_include_tag 'jquery', 'jquery-ui-1.8.2', 'application', 'rails'
    = yield_content :include
  %body
    #header
      .content
        %h1 Header
        
    #main
      .content
        = yield
      
    #footer
      .content
        #connection_footer
          = link_to "add connection", url_for(:new, :format => :js), :remote => true, :id => "add_connection"